$columns: 2;
.editor_only_wrap {
    &--edit {
        display: flex;
        flex-wrap: wrap;
    }
    .profile_fields {
        padding: 0;
    }
}

.editor-item {
    position: relative;
    width: 100%;
    flex: 0 0 auto;
    max-width: (100% / $columns);
    min-height: 1px; // Prevent collapsing
    &_heading {
        min-height: 44px;
    }
}