.catalog_list .b-image {
    &:hover,
    &.photo img {
        opacity: 1;
    }
}
.b-autoslider_item {
    height: 220px;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}