/**
* bali-logo
*/
.bali-logo {
    display: flex;
    align-items: center;
    max-width: 140px;

    &__img {
        width: 50px;
        height: 80px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        flex: 1 1 0%;
        line-height: 1.5;

        span {
            position: relative;
            border-bottom: 1px dashed #000000;
            cursor: pointer;
            transition: all 0.18s linear;

            &:hover {
                color: #1ea510;
                border-bottom: 1px dashed #1ea510;
            }

            &::after,
            &:hover:after {
                position: absolute;
                left: 0;
                top: 110%;
                content: attr(data-title);
                background-color: #ffffff;
                border: 1px solid #aaaaca;
                font-size: smaller;
                color: #303030;
                padding: 1px 4px;
                width: 25vw;
                max-width: 160px;
                box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
                border-radius: 3px;
                opacity: 0;
                transition: all 0.18s linear;
                z-index: 10;
            }

            &.titled:after {
                opacity: 1;
            }
        }
    }

    &.is-mobile {
        display: inline-flex;

        .b-detail & {
            display: flex;
            margin: 0 auto;
        }
    }
}

.b-social {
    &_item {
        margin-top: 5px;
    }

    .icon-sitelock {
        width: 95px;
        height: 57px;
        background-size: 590% !important;
        background-position: -355px -36px;
    }
}

/* end bali-logo */