/* BEGIN: css-sprite */
.footer_social .b-social {
    margin-left: 0;

    &_item {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-size: 339%;
        background-repeat: no-repeat;
        vertical-align: top;

        &--fb {
            background-position: -5px 0px;
        }

        &--insta {
            background-position: 0 -61px;
        }

        &--pint {
            background-position: -68px 0px;
        }
    }
}

.favorites-control__add-to-favorites-heart {
    background-image: url(../../local/templates/procashpo/images/css_sprites.png);
    background-position: -443px -298px;

    &:hover {
        background-image: url(../../local/templates/procashpo/images/css_sprites.png);
        background-position: -443px -340px;
    }
}

.b-icon {
    display: inline-block;
    background-size: auto !important;

    .footer_images & {
        margin-right: 65px;
    }

    .header_banner & {
        margin-top: 30px;
    }
    &_tooltip {
        display: none;
        position: absolute;
        right: 0px;
        bottom: 46px;
        max-width: 130px;
        color: #ffffff;
        background: #1ea510;
        padding: 5px 10px;
        z-index: 3;
        box-sizing: border-box;
        transition: all 0.3s;
    
        &::after {
            position: absolute;
            content: "";
            right: 13px;
            bottom: -6px;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #1ea510;
        }
    
        .text {
            display: inline-block;
            max-width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

.component_shop-link {
    .bs_icon-auth {
        &.authorized {
            position: relative;

            svg {
                circle {
                    fill: #1ea510;
                }
            }
        }

        &.greeting {
            .b-icon_tooltip {
                display: block;
            }
        }
    }

    .bs_icon-favourite {
        &.icon-icons {
            background-image: url(../../local/templates/procashpo/images/sprite-new.png);
            background-position: -541px -154px;
        }
    }

    a.bs_icon-cart {
        &.icon-icons {
            background-image: url(../../local/templates/procashpo/images/sprite-new.png);
            background-position: -578px -154px;
        }
    }
}

.component_service {
    .b-icon {
        width: 46px;
        height: 40px;
    }

    .icon-Artboard4 {
        background-position: -464px -200px;
    }

    .icon-Artboard4Copy {
        background-position: -510px -200px;
    }

    .icon-Artboard4Copy2 {
        background-position: -556px -200px;
    }

    .icon-Artboard4Copy3 {
        background-position: -602px -200px;
    }

    .icon-Artboard4Copy4 {
        background-position: -414px -250px;
    }

    .icon-Copy {
        background-position: -414px 0px;
    }
}

.bs_header .bs_contacts:after {
    background-image: url(../../local/templates/procashpo/images/sprite-new.png);
    background-position: -564px -250px;
    background-size: auto;
}

footer .contacts-block:after {
    background-image: url(../../local/templates/procashpo/images/sprite-new.png);
    background-position: -536px -250px;
    background-size: auto;
}

footer .email-block:after {
    background-image: url(../../local/templates/procashpo/images/sprite-new.png);
    background-position: -508px -250px;
    background-size: auto;
}

footer .phone-block:after {
    background-image: url(../../local/templates/procashpo/images/sprite-new.png);
    background-position: -615px -154px;
    background-size: auto;
}

/* END: css-sprite */