.component_shop-link .b-account-link {
    position: relative;
    width: 37px;
    height: 37px;
    background-image: url(../img/Artboard.svg);

    span {
        position: absolute;
        right: -5px;
        top: -5px;
        width: 19px;
        height: 19px;
        line-height: 19px;
        font-size: 10px;
        color: #fff;
        text-align: center;
        z-index: 1000;
        background: #1ea510;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
}

.bs_menu.only-desktop .right--edit {
    width: 100% !important;
    max-width: 170px;
    .component_shop-link {
        width: 100%;
    }
}