@media (max-width: 1000px) {
    .editor-item {
        max-width: none;
        margin-bottom: 40px;
        &_heading {
            min-height: auto;
        }
    }
    .profile_fields-new .sale_order_full_table tr td {
        padding: 0;
    }
}